.app {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3048B0), to(#1C3670));
  background-image: linear-gradient(180deg, #3048B0 0%, #1C3670 100%);
  padding-bottom: 60px;
}

.header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logos .yesist,
  .logos .atrialogo {
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.main {
  padding: 60px;
  height: 100vh;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .main {
    padding: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 30px;
    padding-bottom: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.atom-icon {
  width: 500px;
  margin-left: -50%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .atom-icon {
    display: none;
  }
}

.register-button {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  margin-top: 10px;
  padding: 20px 30px;
  background: white;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 200;
}

.small-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.caps-title {
  font-size: 4rem;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .caps-title {
    margin: 20px 0;
  }
}

.intro {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2A3E94), to(#234387));
  background-image: linear-gradient(180deg, #2A3E94 0%, #234387 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.about {
  padding: 60px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .about {
    padding: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 30px;
  }
}

.about h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fcff59;
}

.about p {
  line-height: 1.6rem;
  font-weight: 600;
}

.details {
  padding: 60px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .details {
    padding: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .details {
    padding: 30px;
  }
}

.details ul {
  margin-top: 20px;
}

.details h2 {
  color: #fcff59;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.details li {
  margin-left: 25px;
  line-height: 1.6rem;
  font-weight: 600;
}

.bottom-register {
  position: fixed;
  bottom: 30px;
  left: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  padding: 20px 30px;
  background: white;
}

@media only screen and (max-width: 800px) {
  .bottom-register {
    bottom: 20px;
    left: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .bottom-register {
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .bottom-register {
    width: 100%;
  }
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 30px;
  padding: 30px;
}

.team .member {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background: whitesmoke;
  -webkit-transition: padding 200ms ease;
  transition: padding 200ms ease;
}

.team .member .about {
  text-align: center;
}

.team .member .contact a {
  color: black;
  text-decoration: underline;
  display: block;
  text-align: center;
}

.team .member:active .profile-img {
  width: 150px;
  height: 200px;
  border-radius: 0;
  margin-bottom: 10px;
}

.team .member:active .profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .about h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.team .profile-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.team .profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */