.app {

    // background-image: linear-gradient(180deg, #3750B9 0%, #3E71E2 100%);
    background-image: linear-gradient(180deg, #3048B0 0%, #1C3670 100%);
    padding-bottom: 60px;


}




.header {
    color: white;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.logos {

    @media only screen and (max-width: 600px) {
        display: flex;
        align-items: center;
        flex-direction: column;

        .yesist,
        .atrialogo {
            margin: 20px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}

.main {


    @media only screen and (max-width: 800px) {
        padding: 40px;
    }

    @media only screen and (max-width: 600px) {
        padding: 30px;
        padding-bottom: 100px;
        align-items: center;
        text-align: center;
    }

    padding: 60px;
    height: 100vh;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.atom-icon {
    @media only screen and (max-width: 800px) {
        display: none;
    }

    width: 500px;
    margin-left: -50%;
    // transform: translateX(50%);
    object-fit: contain;
}

.register-button {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    width: fit-content;
    text-decoration: none;
    margin-top: 10px;
    padding: 20px 30px;
    background: white;
}

.subtitle {
    $fs: 1.6rem;
    font-size: $fs;
    // line-height: #{$fs * 1.6rem};
    font-weight: 200;
}

.small-title {
    $fs: 2.4rem;
    font-size: $fs;
    // line-height: #{$fs * 1.6rem};
    font-weight: 600;
}

.caps-title {
    $fontsize: 4rem;
    font-size: $fontsize;

    margin: 10px 0;

    @media only screen and (max-width: 600px) {
        margin: 20px 0;
    }

    // line-height: #{$fontsize * 1.6rem};
}

.intro {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-image: linear-gradient(180deg, #2A3E94 0%, #234387 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;

}

$headingcolor:#fcff59;

.about {
    @media only screen and (max-width: 800px) {
        padding: 40px;
    }

    @media only screen and (max-width: 600px) {
        padding: 30px;
    }

    padding: 60px;
    color: white;


    h2 {
        margin-bottom: 10px;
        font-size: 1.5rem;
        color: $headingcolor;
    }

    p {
        line-height: 1.6rem;
        font-weight: 600;
    }
}

.details {
    @media only screen and (max-width: 800px) {
        padding: 40px;
    }

    @media only screen and (max-width: 600px) {
        padding: 30px;
    }

    padding: 60px;
    color: white;

    ul {
        margin-top: 20px;
    }

    h2 {

        color: $headingcolor;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    li {
        margin-left: 25px;
        line-height: 1.6rem;
        font-weight: 600;
    }
}

.bottom-register {
    position: fixed;

    bottom: 30px;
    left: 60px;
    width: fit-content;

    @media only screen and (max-width: 800px) {
        bottom: 20px;
        left: 40px;
    }

    @media only screen and (max-width: 600px) {
        bottom: 0;
        left: 0;
    }

    @media only screen and (max-width: 600px) {
        width: 100%;
    }

    height: auto;

    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    padding:20px 30px;

    background: white;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 30px;
    padding: 30px;

    .member {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        background: whitesmoke;
        transition: padding 200ms ease;

        .about {
            text-align: center;
        }

        .contact {
            a {
                color: rgb(0, 0, 0);
                text-decoration: underline;
                display: block;
                text-align: center;
            }
        }

        &:active {


            .profile-img {

                width: 150px;
                height: 200px;

                border-radius: 0;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .about {
        h3 {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .profile-img {

        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 10px;

        transition: all 300ms ease;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}